.header-menu {
  background: linear-gradient(90deg, #f16c64 1%, #f05f7d 49%, #f0508f 100%);
  color: #ffffff;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  vertical-align: middle;
  width: 100%; }

.header-menu h2 {
  text-align: center;
  width: 100%; }

.header-menu .hamburger {
  position: absolute;
  z-index: 4;
  top: 30px;
  left: 30px;
  width: 45px;
  height: 34px;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.header-menu .hamburger span {
  position: relative; }

.header-menu .hamburger span, .header-menu .hamburger span:before, .header-menu .hamburger span:after {
  display: block;
  width: 36px;
  height: 3px;
  background-color: #ffffff;
  border-radius: 2px; }

.header-menu .hamburger span:before, .header-menu .hamburger span:after {
  content: '';
  position: absolute; }

.header-menu .hamburger span:before {
  bottom: -11px; }

.header-menu .hamburger span:after {
  bottom: -22px; }

.profile-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column; }

.profile {
  margin: 5px 0px 5px 0; }

.profile__details {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 7px 20px 5px 30px;
  -ms-flex-align: center;
  align-items: center;
  background: #ffffff;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19); }

.profile-toogle-extra-info {
  cursor: pointer;
  color: #c3c3c3;
  margin-left: auto;
  font-size: 20px; }

.profile-toogle-extra-info img {
  width: 17px;
  height: 17px; }

.profile__photo img {
  border-radius: 50%; }

.profile__details-basic-info {
  margin-left: 40px; }

.profile__details-name {
  color: #f16c64;
  font-size: 18px; }

.profile__details-location {
  color: #999090;
  font-size: 15px; }

.profile__details-extra {
  width: 97%;
  display: -ms-flexbox;
  display: flex;
  background: linear-gradient(90deg, #f16c64 1%, #f05f7d 49%, #f0508f 100%);
  -ms-flex-direction: row;
  flex-direction: row;
  color: #ffffff;
  margin: 0 auto;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19); }

.profile__details-extra--column {
  width: 50%;
  text-align: center;
  padding: 10px; }

.profile__details-extra--phone {
  border-right: 1px solid #e45871; }

.hide {
  display: none !important; }

.rotate-icon-up img {
  transform: rotate(180deg); }

#image-loader {
  margin: 0 auto;
  width: -webkit-max-content;
  width: max-content; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px; }
