///////////////////////////
//  Site Variables
/////////////////////////

// Colors
$color-border-extra-info: #e45871;
$color-text-location: #999090;
$color-text-name: #f16c64;
$gray-icon-color: #c3c3c3;

$shadow-border-card: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
$white: #ffffff;

$background-gradient-header: linear-gradient(90deg, rgba(241,108,100,1) 1%, rgba(240,95,125,1) 49%, rgba(240,80,143,1) 100%);