.header-menu {
  background: $background-gradient-header;
  color: $white;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.header-menu h2 {
  text-align: center;
  width: 100%;
}

.header-menu .hamburger {
  position: absolute;
  z-index: 4;
  top: 30px;
  left: 30px;
  width: 45px;
  height: 34px;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header-menu .hamburger span {
  position: relative;
}

.header-menu .hamburger span, .header-menu .hamburger span:before, .header-menu .hamburger span:after {
  display: block;
  width: 36px;
  height: 3px;
  background-color: $white;
  border-radius: 2px;
}
.header-menu .hamburger span:before, .header-menu .hamburger span:after {
  content: '';
  position: absolute;
}

.header-menu .hamburger span:before {
  bottom: -11px;
}

.header-menu .hamburger span:after {
  bottom: -22px;
}

