.profile-list {
  display: flex;
  flex-direction: column;
}

.profile {
  margin: 5px 0px 5px 0;
}

.profile__details {
  display: flex;
  justify-content: flex-start;
  padding: 7px 20px 5px 30px;
  align-items: center;
  background: $white;
  box-shadow: $shadow-border-card;
}

.profile-toogle-extra-info {
  cursor: pointer;
  color: $gray-icon-color;
  margin-left: auto;
  font-size: 20px;
}

.profile-toogle-extra-info img{
  width: 17px;
  height: 17px;
}

.profile__photo img {
  border-radius: 50%;
}

.profile__details-basic-info {
  margin-left: 40px;
}

.profile__details-name {
  color: $color-text-name;
  font-size: 18px;
}

.profile__details-location {
  color: $color-text-location;
  font-size: 15px;
}

.profile__details-extra {
  width: 97%;
  display: flex;
  background: $background-gradient-header;
  flex-direction: row;
  color: $white;
  margin: 0 auto;
  justify-content: space-around;
  box-shadow: $shadow-border-card;
}

.profile__details-extra--column {
  width: 50%;
  text-align: center;
  padding: 10px;
}

.profile__details-extra--phone {
  border-right: 1px solid $color-border-extra-info;
}

.hide {
  display:none !important;
}

.rotate-icon-up img {
  transform: rotate(180deg);
}
